<div (click)="onClose()" class="overlay"></div>
<div class="product-dialog">
    <img [src]="data.productImage" alt="{{ data.productName }}" />
    <div class="product-dialog-detail">
        <h2>{{ data.productName }}</h2>
        <div>
            <h4>Product Details</h4>
            <ul>
                <li *ngFor="let colorDetail of data.productColorVarietyDetail" class="product-color-card">
                    <div class="product-color-header">
                        <h4>{{ colorDetail.productColor }}</h4>
                    </div>
                    <div class="product-color-details">
                        <div *ngFor="let i of getIndexes(colorDetail.productSize.length)">
                            Size: {{ colorDetail.productSize[i] }} - Stock: {{ colorDetail.productStock[i] }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <h3>{{ data.productDescription }}</h3>
        <p><strong>Price:</strong> {{ data.productPrice | currency }}</p>
        <p><strong>Gender:</strong> {{ data.productGender }}</p>
        <p><strong>Amount Sold:</strong> {{ data.productAmountSold }}</p>
        <div class="quantity-input">
            <p><strong>Qty:</strong></p>
            <input id="quantity" type="number" min="1" max="10"/>
        </div>
    </div>
    <button mat-button>Add to Cart</button>
</div>


