// .product-detail-dialog {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .product-detail-dialog img {
//     max-width: 100%;
//     height: auto;
// }

// .product-detail-dialog h2 {
//     margin-top: 16px;
// }

// .product-detail-dialog div {
//     margin-top: 8px;
// }

// .product-detail-dialog span {
//     font-weight: bold;
// }

// .product-detail-dialog button {
//     margin-top: 16px;
// }

.product-detail-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.product-detail-dialog img {
    max-width: 100%;
    height: auto;
}

.product-detail-dialog h2 {
    margin-top: 16px;
}

.product-detail-dialog div {
    margin-top: 8px;
}

.product-detail-dialog span {
    font-weight: bold;
}

.product-detail-dialog button {
    margin-top: 16px;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
}
  