<body>
  <app-sidebar></app-sidebar>
  <app-shopping-cart></app-shopping-cart>
  <app-profile></app-profile>
  <div class="user-container">
    <div *ngIf="currentUser$ | async as currentUser" class="user-header">
      <div *ngIf="currentUser.userImage; else noImage" class="user-image">
        <img [src]="currentUser.userImage" alt="user Profile Picture">
      </div>

      <ng-template #noImage>
        <div class="user-image">
          <img src="https://via.placeholder.com/150" alt="user Profile Picture" class="profile-image">
        </div>
      </ng-template>

      <div class="user-details">
        <h2 class="user-name">{{ currentUser.userName }}</h2>
        <p class="user-bio">User | Buying Products</p>
        <div class="user-actions"> 
          <button class="btn" (click)="displayProfileUpdateDialog()">Edit Profile</button>
        </div>
      </div>
    </div>

    <div *ngIf="currentUser$ | async as currentUser" class="user-info">
      <div class="user-info-item">
        <h3>Email</h3>
        <p>{{ currentUser.userEmail }}</p>
      </div>
      <div class="user-info-item">
        <h3>Role</h3>
        <p>{{ currentUser.userRole }}</p>
      </div>
    </div>

    <div *ngIf="showComment" class="snack-bar">
      {{ comment }}
    </div>
  </div>
</body>
