<main class="product-page">
    <app-sidebar></app-sidebar>
    <app-shopping-cart></app-shopping-cart>
    <app-user-profile></app-user-profile>
    <div class="main-content">
        <header class="header">
            <a href="/home">
                <h1>Clothes Store</h1>
            </a>
            <div class="filter">
                <input type="text" id="search" placeholder="Search for clothes...">
                <select id="gender" [(ngModel)]="filterVar.productGender">
                    <option value="">All</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unisex">Unisex</option>
                </select>
                <select id="category" [(ngModel)]="filterVar.productCategory">
                    <option value="">All</option>
                    <option value="Shoes">Shoes</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Jacket">Jacket</option>
                    <option value="Hat">Hat</option>
                </select>
                <select id="size" [(ngModel)]="filterVar.productSize">
                    <option value="">All</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <select id="brand" [(ngModel)]="filterVar.productBrand">
                    <option value="">All</option>
                    <option value="Nike">Nike</option>
                    <option value="Adidas">Adidas</option>
                    <option value="Uniqlo">Uniqlo</option>
                    <option value="Puma">Puma</option>
                    <option value="Reebok">Reebok</option>
                    <option value="H&M">H&M</option>
                </select>
                <button (click)="getPaginatedProductsByFilter()" id="searchButton">Search</button>
            </div>
        </header>
        <section>
            <div *ngIf="productsDisplay$ | async as productsDisplay; else noProductsDisplay">
                <div class="products">
                <div *ngFor="let productDisplay of productsDisplay" class="product" (click)="displayProduct(productDisplay)">
                    <img [src]="productDisplay.productImage" alt="{{ productDisplay.productName }}" />
                    <h3>{{ productDisplay.productName }}</h3>
                    <p>{{ productDisplay.productDescription }}</p>
                    <p>Price: {{ productDisplay.productPrice | currency }}</p>
                </div>
                </div>
            </div>
            <ng-template #noProductsDisplay>
                <p class="no-products">No products available.</p>
            </ng-template>
        </section>

        <div class="pagination">
            <button (click)="prevPage()" [disabled]="(filterVar.currentPage === 1)">Previous</button>
            <span>Page {{ filterVar.currentPage }}</span>
            <button (click)="nextPage()">Next</button>
        </div>
</div>