<div class="burger-sidebar">
    <div class="burger-icon" id="burger-icon" (click)="toggleSidebar()">
        &#9776; <!-- Unicode character for burger icon -->
    </div>
    <div class="app-sidebar" id="sidebar">
        <div class="close-icon" (click)="toggleSidebar()">×</div>
        <h2>Filters</h2>
        <ul class="filter-menu">
            <li><a href="/product">New In</a></li>
            <li><a href="/product">Clothing</a></li>
            <li><a href="/product">Shoes</a></li>
            <li><a href="/product">Accessories</a></li>
            <li><a href="/product">Sport</a></li>
            <li><a href="/product">Brand</a></li>
        </ul>
    </div>
</div>

