main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/background-image-landing-page.jpg");
  background-size: cover;
  background-position: center;

  .landing-title {
      color: #fff;
      font-weight: 520;
      font-size: 2.7rem;
      text-align: center;
      margin: 1rem; // Add some margin for better spacing
  }

  .landing-button {
      display: flex;
      justify-content: center;
      align-items: center;

      .start-button {
          padding: 1rem 2rem;
          font-size: 1.2rem;
          background-color: orange;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
              background-color: orangered;
          }
      }
  }

  // Media queries for responsiveness
  @media (max-width: 768px) {
      .landing-title {
          font-size: 2rem;
      }

      .start-button {
          padding: 0.8rem 1.6rem;
          font-size: 1rem;
      }
  }

  @media (max-width: 480px) {
      .landing-title {
          font-size: 1.5rem;
      }

      .start-button {
          padding: 0.6rem 1.2rem;
          font-size: 0.9rem;
      }
  }
}

  