<main class="payment-page">
    <app-sidebar></app-sidebar>
    <app-shopping-cart></app-shopping-cart>
    <app-profile></app-profile>
    <div class="payment-container">
        <header>
            <a (click)="goToHomePage()">
                <h1>Clothes Store</h1>
            </a>
        </header>

        <div class="payment-content">
            <h2>Review Your Order</h2>
            
            <!-- Shopping Cart Summary -->
            <div class="shopping-cart-summary">
                <div class="cart-item" *ngFor="let product of productsInCart$ | async">
                    <img [src]="product.productImage" alt="{{ product.productName }}">
                    <div class="product-details">
                        <h3>{{ product.productName }}</h3>
                        <p>Price: {{ product.productPrice | currency }}</p>
                        <p>Color: {{ product.productColor }}</p>
                        <p>Size: {{ product.productSize }}</p>

                        <!-- Quantity Selector -->
                        <div class="quantity-control">
                            <button type="button" (click)="decreaseQuantity(product)">-</button>
                            <input type="number" [value]="product.productQuantity || 1" readonly>
                            <button type="button" (click)="increaseQuantity(product)">+</button>
                        </div>
                    </div>
                    <!-- Remove Button -->
                    <button (click)="removeItemFromCart(product)" class="remove-button">Remove</button>
                </div>
            </div>

            <div class="location">
                <input type="text" id="search" placeholder="Input Your Delivery Location Here...">
            </div>

            <div class="total-price">
                <h2>Total Price: {{ totalPrice | currency }}</h2>
            </div>
            
            <!-- Payment Button -->
            <button (click)="displayPaymentMethod()">Complete Payment</button>

            <div *ngIf="showComment" class="snack-bar">
                {{ comment }}
            </div>
        </div>
    </div> 
</main>