<body>
    <app-sidebar></app-sidebar>
    <app-shopping-cart></app-shopping-cart>
    <app-profile></app-profile>
    <app-seller-dashboard-icon></app-seller-dashboard-icon>

    <div class="dashboard-container">
        <header>
            <h1>Seller Dashboard</h1>
            <p>Here you can see the products that have been purchased and where to deliver them.</p>
        </header>

        <div class="dashboard-content">
            <table>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Buyer Email</th>
                        <th>Delivery Location</th>
                        <th>Total Price</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each order -->
                    <tr *ngFor="let order of orders$ | async; let i = index" (click)="displayOrder(order)">
                        <td>{{ order.orderId }}</td>
                        <td>{{ order.buyerEmail }}</td>
                        <td>{{ order.deliveryLocation }}</td>
                        <td>{{ order.totalPrice | currency }}</td>
                        <td>{{ order.orderDelivered ? 'Complete' : 'Not Complete' }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button (click)="prevPage()">Previous</button>
                <span>Page {{ filterVar.currentPage }}</span>
                <button (click)="nextPage()">Next</button>
            </div>
        </div>
    </div>
</body>

