.user-profile {
    position: fixed;
    top: 22px;
    right: 25px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001; /* Ensure it's above other content */
}

.user-profile svg {
    width: 40px;
    height: 40px;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .user-profile {
        top: 20px;
        width: 35px;
        height: 35px;
    }
    .user-profile {
        right: 20px;
    }
}

@media (max-width: 768px) {
    .user-profile {
        top: 28px;
        width: 30px;
        height: 30px;
    }
    .user-profile {
        right: 20px;
    }
}

@media (max-width: 480px) {
    .user-profile {
        top: 16px;
        width: 25px;
        height: 25px;
    }
    .user-profile {
        right: 20px;
    }
}