/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// Define your custom theme
$theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$rose-palette,
  ),
//   typography: (
//     brand-family: 'Comic Sans',
//     bold-weight: 900
//   ),
//   density: (
//     scale: -1
//   )
));

// Wrap the theme mixins within a selector
:root {
    @include mat.all-component-themes($theme);
}
