/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Define your custom theme
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette
  )
));

// Wrap the theme mixins within a selector
:root {
  @include mat.all-component-themes($theme);
}

